<script type="text/javascript">//<![CDATA[
	XHR.poll(5, '<%=url("admin/nas/linkease_status")%>', null,
		function(x, st)
		{
			var tb = document.getElementById('linkease_status');
			if (st && tb)
			{
				if (st.running)
				{
					tb.innerHTML = '<em style=\"color:green\"><b><%:The LinkEase service is running.%></b></em>' + "<input class=\"cbi-button-reload mar-10\" type=\"button\" value=\" <%:Click to open LinkEase%> \" onclick=\"window.open('http://" + window.location.hostname + ":" + st.port + "/')\"/>";
				}
				else
				{
					tb.innerHTML = '<em style=\"color:red\"><b><%:The LinkEase service is not running.%></b></em>';
				}
			}
		}
	);
//]]></script>

<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="linkease_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
